.row {
    margin-top:21px;
}

.moreEnterperise {
    margin-top: 20px;
    width: -moz-fit-content; 
    width:-webkit-fit-content; 
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto;
}
